*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$color-letra : black;
@mixin tamaño($width,$height) {
    height: $height;
    width: $width;
}

header{
    @include tamaño(100%,100vh);
    background-color: brown;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    &:h1{
        margin: 40%;
        color: $color-letra;
        }
        nav{
            height: 100%;
            ul{
                height: 70%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            
                li{
                    list-style: none;
                    text-align: center;
                    font-size: 2rem;
                    font-weight: 600;
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    a{
                        text-decoration: none;
                        color: $color-letra;
                    }
                
                }  

            }
        
        } 
           

}

/*-------------------main--------------------*/

main{
    @include tamaño(100%,100%);
        section{
            @include tamaño(100%,100%);
        }   
}

.bicho{
    margin: 1rem 0;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    gap: 2rem;
    grid-template-areas: 
        "h2bicho"
        "imgbicho"
        "parrafocr"
    ;
    justify-items: center;
    &:h2{
    grid-area: h2bicho;
    } 

    .fotocr{
        grid-area: imgbicho;
    }
    
    .fotocr img{
        width: 100%;
    }
    
    .contenidocr{
        grid-area: parrafocr;
    }   
}
.inicioscr{
margin: 1rem 0;
padding: 0 1rem;
display: grid;
grid-template-columns: 100%;
grid-template-rows: auto;
gap: 2rem;
grid-template-areas:
    "h2inicio"
    "fotocr"
    "informacion"
;
justify-items: center;

&:h2{
    @extend &:h2
}

.infocr{
    grid-area: informacion;
}

.seccionfoto{
    grid-area: fotocr;
}
}







footer{
    background-color: brown;
    color: $color-letra;
    @include tamaño(100%,100%);
    text-align: center;
}



@import "mediaQueries";
